<header class="site-header">
  <h1 class="site-title">
    <a href="/" class="site-title-link" title="<%= I18n.t("site.title")%>" rel="home">
      <%= I18n.t("site.title")%>
    </a>
  </h1>

  <nav id="site-navigation" class="site-navigation" role="navigation">
    <ul class="navigation-menu">
      <li class="navigation-item">
        <a href="/" class="navigation-link" rel="home">
          <%= I18n.t("site.home") %>
        </a>
      </li>

      <li class="navigation-item">
        <a href="/archives" class="navigation-link">
          <%= I18n.t("posts.list") %>
        </a>
      </li>

      <% if @current_user %>
        <li class="navigation-item">
          <a href="/posts/new" class="navigation-link">
            <%= I18n.t("posts.create") %>
          </a>
        </li>

        <li class="navigation-item">
          <form id="signout-form" action="/sign_out" method="POST">
            <a href="#" class="navigation-link" onclick="document.getElementById('signout-form').submit();">
              Sign out
            </a>
          </form>
        </li>
      <% end %>
    </ul>
  </nav>
</header>

